* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Montserrat';

}

#features, #testimonials, #pricing, #climax, #footer {
    text-align: center;
}

/* title */

#title {
    background-color: #ff4c68;
    padding: 3% 15% 0;
}


.navbar-brand, .navbar-brand:hover {
    color: #fff;
}

.nav-item {
    margin: 5%;
}

.navbar-nav li a {
    color: white !important;
}

/*title img and heading */

h1 {
    font-size: 3.5rem;
    line-height: 4.7rem;
    font-family: 'Montserrat';
    font-weight: 650;
    color: #fff;
}

.iphone6 {
    width: 60%;
    transform: rotate(25deg);
    position: relative;
    left: 5rem;
    margin: 0 15%;
    padding-left: 10%;

}

.download-btn_1 {
    margin: 5% 10% 5% 0;
}


/* features */
#features {
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding: 10% 15%;
}

.icon {
    color: #ef8172;
    margin: 3%;
}

.icon:hover {
    color: #ff4c68;
}


.feature-text {
    color: #8f8f8f;
    font-family: 'Montserrat';
}

.feature-h {
    margin: 2%;
    font-size: 1.5rem;
    font-weight: 650;
    font-family: 'Montserrat';
}

/* testimonials */

#testimonials {
    background-color: #ef8172;
    color: #fff;
    padding: 5% 15%;
}

.testimonial-img {
    width: 15%;
    border-radius: 100%;
    margin: 5%;
}

.testimonial-text {
    font-size: 2rem;
    line-height: 3.5rem;
    font-family: 'Montserrat';
    margin: 0 10%;
    font-weight: 650;
}

/* press */

#press {
    display: flex;
    justify-content: space-between;
}


.press-logo {
    width: 20%;
    margin:2%;
}

/* pricing */

#pricing {
    padding: 5% 15%;
    background-color: #fff;
}

.card {
    height: 22rem;
    margin: 10% 3%;
}

.pricing-heading {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 2%;
    font-family: 'Montserrat';
}

.pricing-p-text {
    font-size: 1.5rem;
    font-family: 'Montserrat';
}

/* climax */
#climax {
    background-color: #ff4c68;
    padding: 5% 15%;
}

.climax-text {
    color: white;
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 4.5rem;
    font-weight: 650;
}

.download-btn_2 {
    margin: 3% 2% 0;
}

/* footer */
#footer {
    padding: 7% 15%;
    background-color: #fff;
}

.icon_2 {
    margin: 1%;
}

.footer-p {
    color: #8f8f8f;
}

/* mobile-design */

@media(max-width:902px) {


    .nav-item {
        margin: 2%;
    }

    .download-btn_1 {
        padding: 2px 4px;
        font-size: 90%;
        line-height: 2;
        margin: 2%;
    }

    .iphone6 {
        margin: 5% 15% 0 0%;
        width: 50%;
        padding: 0%;
    }

    .testimonial-text {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .pricing-heading {
        font-size: 2rem;
        line-height: 3.5rem;
    }

    .pricing-p-text {
        font-size: 1rem;
    }

    .climax-text {
        font-size: 2rem;
        line-height: 3.5rem;
    }

    .download-btn_2 {
        padding: 2px 4px;
        font-size: 90%;
        line-height: 2;
    }

}

@media(max-width:750px) {
    body {
        text-align: center;
    }

    .nav-item {
        margin: 2%;
    }

    h1 {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 3% 0;
    }

    .download-btn_1 {
        padding: 2px 4px;
        font-size: 80%;
        line-height: 2;
        margin: 2%;
    }

    .download-btn_2 {
        padding: 2px 4px;
        font-size: 80%;
        line-height: 2;
    }

    .iphone6 {
        transform: rotate(0deg);
        margin-right: 0;
        position: relative;
        left: 0;
    }

    .testimonial-text {
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 550;
    }

    .carousel-btn {
        padding: 5%;
    }

    .press-logo {
        width: 15%;
        margin: 0 2%;
    }

    .pricing-heading {
        font-size: 1rem;
        line-height: 2rem;

    }

    .pricing-p-text {
        font-size: .5rem;
    }

    .climax-text {
        font-size: 1.5rem;
        line-height: 2rem;
    }



    em {
        font-size: .7rem;
    }
}
